* {
    font-size: 20px;
    margin: 3px;
    background-color: rgba(240, 255, 255, 0.767);
    
}
h2 {
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(39, 38, 38, 0.987);
}

h3 {
    text-align: center;
    margin: 10px;
    text-shadow: 1px 1px 2px black;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.img1 {
    display: flex;
    width: 50%;
    height: 500px;
    margin: auto;
    justify-content: center;
}

.img2 {
    display: flex;
    margin: auto;
    justify-content: center;
}

.img3 {
    display: flex;
    margin: auto;
    justify-content: center;
}

.img4 {
    display: flex;
   margin: auto;
   justify-content: center;
}

#sobremim {
    text-align: center;
    background: rgba(74, 28, 200, 0.311);
    border-radius: 10px;
    padding: 2%;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px rgb(30, 28, 28);
    
}

.carousel-item {
    width: 100%;
    margin: auto;

}

.alert alert-dark {
    width: 50%;
    justify-content: center;
    display: flex;
}

#conhecimentos {
    
    border-radius: 50px;
    padding: 20px 20px;
    margin: auto;
}

section {
    text-align: center;
}

input {
    color: black; text-shadow: 5px 5px 5px black;
}

footer {
    text-align: center;
}

#topo {
    color:white;
    font-size: 25px;
    margin: auto;
    border-radius: 50px;
    width: 90%;
    height: 50px;
}

footer {
    margin: 10px;
}

.d-block w-50 {
    width: 50%;
    height: 200px;
    margin: 20px;
}

#campoinfo {
    float: left;
    margin-left: 600px;
    padding: 100px;
    text-align: center;
    background:rgba(0, 0, 0, 0.47);
    border-radius: 30px;
}

#campocont {
    width: 600px;
    height: 600px;
    float: right;
    margin-right: 600px;
    padding: 25px;  
    background:rgba(0, 0, 0, 0.47);
    border-radius: 30px;
}

#campototal {
    padding: 10px;
}

#topocontato {
    font-size: 30px;
    text-align: center;
    color: white;
    font-style: italic;
    background:rgb(118, 118, 134);
    padding-top: 30px;
    border-bottom-right-radius: 50px;
    margin-top: -30px;
    width: 100%;
    margin-left: -20px;
    
}

#topoprojeto {
        text-align: center;
        color: white;
        font-size: 30px;
        font-style: italic;
        background:rgb(118, 118, 134);
        padding-top: 30px;
        border-bottom-right-radius: 50px;
        margin-top: -30px;
        width: 100%;  
}

#projeto1 {
    width: 1500px;
    height: 800px;
    border-radius: 30px;
    padding: 10px 10px;
    margin-top:-500px;
    margin: 100px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0)
}

#projeto2 {
    width: 1200px;
    height: 800px;
    border-radius: 30px;
    padding: 10px 10px;
    margin-top:-500px;
    margin: 100px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0)
}

#projetogeral {
    text-align: center;
    font-size: 20px;
}

#projeto3 {
        width: 900px;
        height: 800px;
        border-radius: 30px;
        padding: 10px 10px;
        margin-top:-500px;
        margin: 100px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0)
}

#buttoncont {
    font-size: 15px;
    padding: 3px;
    box-shadow: none;
    text-shadow: none;
}

#mensagemform {
    font-size: 15px;
}